:root, .light, .light-theme, .radix-themes {
  --color-background: #fff;
}

:root, .light, .light-theme {
  --green-1: #f8fff9;
  --green-2: #f1fdf2;
  --green-3: #dafce0;
  --green-4: #c3f9cc;
  --green-5: #a8f3b7;
  --green-6: #89ea9e;
  --green-7: #59dc7d;
  --green-8: #00c655;
  --green-9: #10d663;
  --green-10: #00ca58;
  --green-11: #008227;
  --green-12: #004518;

  --green-a1: #00ff2507;
  --green-a2: #00db130e;
  --green-a3: #00eb2a25;
  --green-a4: #00e6273c;
  --green-a5: #00dc2c57;
  --green-a6: #00d22e76;
  --green-a7: #00ca38a6;
  --green-a8: #00c655;
  --green-a9: #00d359ef;
  --green-a10: #00ca58;
  --green-a11: #008227;
  --green-a12: #004518;

  --green-contrast: #132717;
  --green-surface: #eefdefcc;
  --green-indicator: #10d663;
  --green-track: #10d663;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --green-1: oklch(99.3% 0.0102 149.7);
      --green-2: oklch(98.2% 0.0189 149.7);
      --green-3: oklch(96% 0.052 149.7);
      --green-4: oklch(93.4% 0.0825 149.7);
      --green-5: oklch(90% 0.1115 149.7);
      --green-6: oklch(85.7% 0.1399 149.7);
      --green-7: oklch(79.8% 0.1753 149.7);
      --green-8: oklch(71.9% 0.2099 149.7);
      --green-9: oklch(76.6% 0.2099 149.7);
      --green-10: oklch(73.1% 0.2099 149.7);
      --green-11: oklch(51.9% 0.2099 149.7);
      --green-12: oklch(33.9% 0.1007 149.7);

      --green-a1: color(display-p3 0.0235 1 0.0235 / 0.024);
      --green-a2: color(display-p3 0.0235 0.8392 0.0235 / 0.048);
      --green-a3: color(display-p3 0.0039 0.8706 0.0392 / 0.118);
      --green-a4: color(display-p3 0.0078 0.8392 0.0471 / 0.193);
      --green-a5: color(display-p3 0.0039 0.8039 0.0588 / 0.279);
      --green-a6: color(display-p3 0.0039 0.7608 0.0549 / 0.373);
      --green-a7: color(display-p3 0 0.7059 0.0627 / 0.506);
      --green-a8: color(display-p3 0 0.6392 0.0627 / 0.651);
      --green-a9: color(display-p3 0 0.7176 0.0863 / 0.612);
      --green-a10: color(display-p3 0 0.6588 0.0667 / 0.644);
      --green-a11: color(display-p3 0.0196 0.3725 0 / 0.797);
      --green-a12: color(display-p3 0 0.1843 0.0118 / 0.899);

      --green-contrast: #132717;
      --green-surface: color(display-p3 0.9412 0.9922 0.9412 / 0.8);
      --green-indicator: oklch(76.6% 0.2099 149.7);
      --green-track: oklch(76.6% 0.2099 149.7);
    }
  }
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #111;
}

.dark, .dark-theme {
  --green-1: #0c130e;
  --green-2: #121b15;
  --green-3: #152d1d;
  --green-4: #153b23;
  --green-5: #1b492c;
  --green-6: #235737;
  --green-7: #2b6842;
  --green-8: #327c4e;
  --green-9: #33d17a;
  --green-10: #1ec66f;
  --green-11: #3cd780;
  --green-12: #b2f2c5;

  --green-a1: #00bb0003;
  --green-a2: #29f96e0b;
  --green-a3: #33ff771e;
  --green-a4: #28ff772d;
  --green-a5: #3cff843c;
  --green-a6: #4fff934b;
  --green-a7: #58fd965e;
  --green-a8: #5bff9973;
  --green-a9: #3cff93ce;
  --green-a10: #22ff8dc2;
  --green-a11: #44fe96d5;
  --green-a12: #bbfecff2;

  --green-contrast: #112719;
  --green-surface: #13251980;
  --green-indicator: #33d17a;
  --green-track: #33d17a;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --green-1: oklch(17.8% 0.0137 153.6);
      --green-2: oklch(21.1% 0.0172 153.6);
      --green-3: oklch(27.1% 0.0417 153.6);
      --green-4: oklch(31.8% 0.0616 153.6);
      --green-5: oklch(36.5% 0.071 153.6);
      --green-6: oklch(41.3% 0.0787 153.6);
      --green-7: oklch(46.7% 0.0891 153.6);
      --green-8: oklch(52.7% 0.1034 153.6);
      --green-9: oklch(76.1% 0.1782 153.6);
      --green-10: oklch(72.6% 0.1782 153.6);
      --green-11: oklch(78% 0.1782 153.6);
      --green-12: oklch(90.5% 0.089 153.6);

      --green-a1: color(display-p3 0 0.9412 0 / 0.009);
      --green-a2: color(display-p3 0.3412 0.9804 0.4353 / 0.043);
      --green-a3: color(display-p3 0.4118 0.9961 0.5176 / 0.114);
      --green-a4: color(display-p3 0.3843 0.9961 0.5216 / 0.173);
      --green-a5: color(display-p3 0.4588 1 0.5765 / 0.232);
      --green-a6: color(display-p3 0.502 1 0.6235 / 0.29);
      --green-a7: color(display-p3 0.5216 1 0.6314 / 0.362);
      --green-a8: color(display-p3 0.5373 1 0.6471 / 0.442);
      --green-a9: color(display-p3 0.502 1 0.6275 / 0.795);
      --green-a10: color(display-p3 0.4706 1 0.6039 / 0.748);
      --green-a11: color(display-p3 0.5176 1 0.6353 / 0.82);
      --green-a12: color(display-p3 0.7961 1 0.8314 / 0.937);

      --green-contrast: #112719;
      --green-surface: color(display-p3 0.0863 0.1412 0.0941 / 0.5);
      --green-indicator: oklch(76.1% 0.1782 153.6);
      --green-track: oklch(76.1% 0.1782 153.6);
    }
  }
}

:root, .light, .light-theme {
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: oklch(99.1% 0.0015 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.0045 277.7);
      --gray-4: oklch(93.1% 0.0061 277.7);
      --gray-5: oklch(91% 0.0077 277.7);
      --gray-6: oklch(88.8% 0.0093 277.7);
      --gray-7: oklch(85.3% 0.0117 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.0165 277.7);
      --gray-10: oklch(61% 0.0161 277.7);
      --gray-11: oklch(50.3% 0.0139 277.7);
      --gray-12: oklch(24.1% 0.0099 277.7);

      --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.0235 0.349 / 0.024);
      --gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.051 0.2157 / 0.095);
      --gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
      --gray-a6: color(display-p3 0.0039 0.0275 0.1804 / 0.153);
      --gray-a7: color(display-p3 0.0078 0.0275 0.1843 / 0.197);
      --gray-a8: color(display-p3 0.0039 0.0314 0.1765 / 0.275);
      --gray-a9: color(display-p3 0.0039 0.0196 0.1059 / 0.455);
      --gray-a10: color(display-p3 0.0039 0.0196 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.0078 0.0588 / 0.616);
      --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0165 277.7);
      --gray-track: oklch(64.6% 0.0165 277.7);
    }
  }
}

.dark, .dark-theme {
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --gray-1: oklch(17.8% 0.0042 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.0055 277.7);
      --gray-4: oklch(28.4% 0.0075 277.7);
      --gray-5: oklch(31.4% 0.0089 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.0121 277.7);
      --gray-8: oklch(49.2% 0.0157 277.7);
      --gray-9: oklch(54% 0.0167 277.7);
      --gray-10: oklch(58.6% 0.0165 277.7);
      --gray-11: oklch(77% 0.0138 277.7);
      --gray-12: oklch(94.9% 0.0026 277.7);

      --gray-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.9882 / 0.085);
      --gray-a4: color(display-p3 0.8392 0.8706 1 / 0.122);
      --gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
      --gray-a6: color(display-p3 0.8784 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.8745 0.9059 0.9961 / 0.257);
      --gray-a8: color(display-p3 0.8941 0.9059 1 / 0.37);
      --gray-a9: color(display-p3 0.8902 0.9098 1 / 0.433);
      --gray-a10: color(display-p3 0.902 0.9176 1 / 0.488);
      --gray-a11: color(display-p3 0.9451 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.0167 277.7);
      --gray-track: oklch(54% 0.0167 277.7);
    }
  }
}